# ─── Service ───────────────────────────────────────
AUTH_SERVICE_JWT__SECRET=local-dev-secret-change-me

# ─── MySQL ─────────────────────────────────────────
AUTH_MYSQL_HOST=mini_wallet-db
AUTH_MYSQL_USERNAME=wallet_admin
AUTH_MYSQL_PASSWORD=wallet_pass

# ─── RabbitMQ Publisher ────────────────────────────
AUTH_PUBLISHER_URL=amqp://guest:guest@mini_wallet-rabbitmq:5672