# ─── Auth ──────────────────────────────────────────
NOTIFICATION_JWT__SECRET=local-dev-secret-change-me

# ─── Redis ─────────────────────────────────────────
NOTIFICATION_REDIS_PASSWORD=redis_stage_password_2024
NOTIFICATION_REDIS_DB=0

# ─── RabbitMQ Subscriber ───────────────────────────
NOTIFICATION_SUBSCRIBER_URL=amqp://guest:guest@mini_wallet-rabbitmq:5672

# ─── OneSignal ─────────────────────────────────────
NOTIFICATION_ONE__SIGNAL_APP__ID=
NOTIFICATION_ONE__SIGNAL_API__KEY=