# ─── MySQL ─────────────────────────────────────────
WALLET_MYSQL_HOST=mini_wallet-db
WALLET_MYSQL_USERNAME=wallet_admin
WALLET_MYSQL_PASSWORD=wallet_pass

# ─── RabbitMQ Subscriber ───────────────────────────
WALLET_SUBSCRIBER_URL=amqp://guest:guest@mini_wallet-rabbitmq:5672